@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: black;
  font-size: 14px;
  height: 100vh;
  background-color: #86ABD7;
  /* background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7)); */
  /* font-family: Arial, Helvetica, Helvetica Neue, serif; */
  /* font-family: Helvetica W01,sans-serif; */
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
  margin: 0;
  border: 0;
}


div#rect{
  background-color: black;
}

div#canvaschild{
  height: inherit;
}

#svgchild{
  height: inherit;
}

div#main{
  height: inherit;
  background-color: white;
  border-top: 20%;
}

div#canvas{
  height: inherit;
  background-color: #EAEFF3;
  color: black;
}

div#wrapper{
  height: 100vh;
  width: 100vw;
}

div#sidebar{
  height: inherit;
}

h1 {
  font-weight: bold;
  margin-left: 24px;
  color: white;
  font-size: 410%;
}
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

nav {
  border-bottom: 3px outset azure;
}

.sidebar-menu {

}
.table {
  border: 1px solid black;

  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 10px;
  background-color: #86ABD7;
  color: white;
  position: relative;

}



.table h2 {
  position: absolute;
  top: 25%;
}
