@import "~font-awesome/css/font-awesome.css";

/* body {
  position: relative;
  color: #6e8798;
  font-size: 14px;
  height: 100vh;
  background-color: #1f2732;
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
  margin: 0;
  border: 0;
} */


g:hover .line   {
  stroke: white;
}

path{
  pointer-events:all;
}



h1 {
  font-weight: bold;
  margin-left: 24px;
  color: white;
  font-size: 410%;
}
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

nav {
  height: 1.7em;
  color: #319cb9;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: auto;
  border-bottom:1px solid #6e8798;
  z-index: 10;
}

nav p {
  padding-left: 20px;
  padding-bottom: 30px;
  text-shadow: 2px 1px 4px lightsteelgray;
}

.wrapper {
  position: relative;
  font-size: 14px;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
  margin: 0;
  border: 0;
  color: #6e8798;
  background-color: #1f2732;
}

.wrapper{
  height: 100vh;
  width: 100vw;
}


.synq-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 11;
  background-color: #1f2732;
}



.nav-name {
  display: inline-flex;
}

.nav-theme {
  display: inline-flex;
  background-color: #1f2732;
  color: #ffaa5e;
  border-color: #6e8798;
  border-radius: 5px;
}

.sidebar-wrapper {
  height: inherit;
  background-color: #1f2732;
  border-top: 20%;
  border-right: 1px solid #3b4752;
  z-index: 10;
}


.sidebar-menu {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}




.canvas {
  height: 100%;
  background-color: #1f2732;
  color: black;
}



#svgchild{
  height: inherit;
}

/* div#rect{
  background-color: black;
} */

.table {
  border: 1px solid #3b4752;
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 10px;
  background-color: #ADA1BB;
  color: black;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  box-shadow: 0 8px 6px -5px #615475;
  margin-top: 40px;
}



.table h4 {
  position: absolute;
  font-size:16px;
  top: 20%;
  left: 8%;
}



.custom-modal {
  width: 75vw
}

.form-control {
  background-color: #1f2732;
  border: 1px solid #6e8798;
  color: #b2e788;
  border-radius: 0px;
}

.btn-default {
  background-color: #1f2732;
  color: #ffaa5e;
  border-color: #6e8798;
  border-radius: 5px;
}

.btn-theme {
  display: inline-block;
  background-color: #1f2732;
  color: #ffaa5e;
  border-color: #6e8798;
  border-radius: 0px;
  border: none;
}



line {
  stroke: #b2e788;
}

.modal-header {
  background-color: #1f2732;
  border-bottom: none;
}

.modal-body {
  background-color: #1f2732;
  color: #ff8071;
}

.modal-footer {
  background-color: #1f2732;
  border-top: none;
}

.modal-title {
  color: #ff8071;
}

#input-error {
  color: #ff8071;
  font-size:12px;
}



.dropdown-content {
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 34px;
}

.dropdown-content a {
  float: none;
  /* color: black; */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #8A8A8A;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* THEMES */
/* SWITCH */


/* Sky */

.wrapper-sky {
  color: black;
  background-color: #6CC8DF;
}
/* #6CC8DF */
/* #9DCAD6 */

.synq-nav-sky {
  background-color: #6CC8DF;
}

.synq-nav-sky .nav-name {
  color: white;
}

.sidebar-wrapper-sky {
  background-color: #F3F3F3;
  border-right: 1px solid #CACACA;
}


.sidebar-menu-sky Button {
  color: #FFFFFF;
  background-color: #6CC8DF;
  /* border-color: #6CC8DF; */
}

.sidebar-menu-sky input {
  color: #6CC8DF;
  background-color: white;
  /* border-color: #6CC8DF; */
}

.canvas-sky {
  background-color: #FFFFFF;
}

.table-sky {
  border: 1px solid #8B8989;
  background-color: #6CC8DF;
  box-shadow: 0 8px 6px -5x #757272;
}
/* #B4DAE5 */

.btn-sky {
  color: #FFFFFF;
  background-color: #6CC8DF;
  border-color: #6CC8DF;
}

.table-modal-sky .modal-header,.table-modal-sky .modal-body, .table-modal-sky .modal-footer {
  background-color: #F3F3F3;
  color: #6CC8DF;
}

.table-modal-sky .modal-title {
  color: #37BED3;
}

.table-modal-sky input {
  background-color: white;
  color: #6CC8DF;
}
.table-modal-sky Button {
  color: #FFFFFF;
  background-color: #6CC8DF;
  border-color: #6e8798;
}






/* Crimson */

.wrapper-crimson {
  color: black;
  background-color: #8D0101;
}
/* #6CC8DF */
/* #9DCAD6 */

.synq-nav-crimson {
  background-color: #8D0101;
}

.synq-nav-crimson .nav-name {
  color: #111111;
}

.sidebar-wrapper-crimson {
  background-color: #F3F3F3;
  border-right: 1px solid #CACACA;
}


.sidebar-menu-crimson Button {
  color: #FFFFFF;
  background-color: #8D0101;
  /* border-color: #8D0101; */
}

.sidebar-menu-crimson input {
  color: #8D0101;
  background-color: white;
  /* border-color: #8D0101; */
}

.canvas-crimson {
  background-color: #FFFFFF;
}

.table-crimson {
  border: 1px solid #8B8989;
  background-color: #8D0101;
  box-shadow: 0 8px 6px -5x #757272;
}
/* #B4DAE5 */

.btn-crimson {
  color: #FFFFFF;
  background-color: #8D0101;
  border-color: #8D0101;
}

.table-modal-crimson .modal-header,.table-modal-crimson .modal-body, .table-modal-crimson .modal-footer {
  background-color: #F3F3F3;
  color: #8D0101;
}

.table-modal-crimson .modal-title {
  color: #8D0101;
}

.table-modal-crimson input {
  background-color: white;
  color: #8D0101;
}
.table-modal-crimson Button {
  color: #FFFFFF;
  background-color: #8D0101;
  border-color: #6e8798;
}
