@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: #6e8798;
  font-size: 14px;
  height: 100vh;
  background-color: #1f2732;
  /* background-image: linear-gradient(45deg, rgba(0, 216, 255, 0.5) 10%, rgba(0, 1, 127, 0.7)); */
  /* font-family: Arial, Helvetica, Helvetica Neue, serif; */
  /* font-family: Helvetica W01,sans-serif; */
  font-family: 'Raleway', sans-serif;
  overflow-y: hidden;
  margin: 0;
  border: 0;
}


div#rect{
  background-color: black;
}

div#canvaschild{
  height: inherit;
}

#svgchild{
  height: inherit;
}

div#main{
  height: inherit;
  background-color: #1f2732;
  border-top: 20%;
  border-right: 2px solid #3b4752;
}

div#canvas{
  height: inherit;
  background-color: #1f2732;
  color: black;
}

div#wrapper{
  height: 100vh;
  width: 100vw;
}

div#sidebar{
  height: inherit;
}

h1 {
  font-weight: bold;
  margin-left: 24px;
  color: white;
  font-size: 410%;
}
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.sidebar-menu {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;

}
.table {
  border: 1px solid #3b4752;
  width: 120px;
  height: 120px;
  text-align: center;
  border-radius: 10px;
  background-color: #d7bffc;
  color: black;
  font-family: 'Quicksand', sans-serif;
  position: relative;
  box-shadow: 0 8px 6px -5px #615475;
  margin-top: 40px;
}

.table h4 {
  position: absolute;
  font-size:16px;
  top: 20%;
  left: 8%;
}

nav {
  height: 1.7em;
  color: #319cb9;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  text-align: auto;
  border-bottom:1px solid #6e8798
}

nav p {
  padding-left: 20px;
  padding-bottom: 30px;
  text-shadow: 2px 1px 4px lightsteelgray;
}

.custom-modal {
  width: 50vw
}

.form-control {
  background-color: #1f2732;
  border: 1px solid #6e8798;
  color: #b2e788;
  border-radius: 0px;
}

.btn-default {
  background-color: #1f2732;
  color: #ffaa5e;
  border-color: #6e8798;
  border-radius: 0px;
}

line {
  stroke: #b2e788;
}

.modal-header {
  background-color: #1f2732;
  border-bottom: none;
}

.modal-body {
  background-color: #1f2732;
}

.modal-footer {
  background-color: #1f2732;
  border-top: none;
}

.modal-title {
  color: #ff8071;
}
